*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ContenedorPpal{
    width: 98%;
    margin: auto;
    height: 100%;    
}

body{
    display: flex;
}

/* -----------------------------Header----------------------------- */

header{
    width: 100%;
    height: 102px;
    background: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    
}

#LogoPrincipal{ 
    width: 50px;
    height: 50px;    
    filter: drop-shadow(1px 1px 0 black);
    align-self: center;
}

.TituloLogo{
    align-items:flex-end;
}

.TituloLogo h1, h4{
    color: rgb(245, 209, 6);
    text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black;
    margin-left: 10px;
    }

.TituloLogo h1{
    font-size: 32px;
    font-family: 'Dancing Script', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TituloLogo h4{
    font-size: 18px;
    padding-bottom: 2px;
}

.Cabecera{
    display: flex;    
    border-bottom: 1px solid goldenrod;
    align-items: center; 
}

/* -----------------------------Header----------------------------- */

/* -----------------------------Menu----------------------------- */

#checkmenu{
    display: none;
}

header label{
    color: black;
    font-size: 24px;
    cursor: pointer;
    margin-left: 2px;    
}

.MenuPpal{
    position: absolute;
    width: 50%;
    left: 0;
    height: 210px;
    background: rgba(250, 235, 215, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);

}

li{
    border-top: 1px solid goldenrod;
    
}

.li_menu a{
    display: block;
    color:black;
    text-decoration: none;
    padding: 10px 0;
    padding-left: 7px;
}

.li_menu:hover{
    background: rgba(218, 165, 32, 0.576);
    font-weight: bold;
}

.li_menu a:hover{   
    font-style: italic;   
}

#checkmenu:checked ~ .iconohamburguesa{
    visibility: hidden;
    display: none;
}

#checkmenu:not(:checked) ~ .iconocruz{
    visibility: hidden;
    display: none;
}

#checkmenu:checked ~ .MenuPpal{
    transform: translateX(0);
}

/* -----------------------------Header----------------------------- */

.Contenedores
{
    width: 100%;
    margin-top: 102px;
    position: relative;
    flex-direction: column;    
    margin-bottom: 100px;
    height: auto;
    justify-content: center;
     
}
    
.Contenedores img
{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    opacity: 50%;
}

@keyframes cambiarColor{
    from{
        color: goldenrod;
    }
}
    
.Contenedores h2{
    position: relative;
    text-align: center;
    font-size: 32px;
    padding: 10px 0;
    text-shadow: 2px 2px 2px gray;
    animation: cambiarColor 2s linear;
    font-family: 'Dancing Script', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* -----------------------------Footer----------------------------- */

footer{
    font-size: 16px;
    background-color: antiquewhite;
    color: black;
    padding: 15px 2px;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
}

footer .ContenedorPpal{
    display: flex;
    justify-content: space-between;
    
}

.FooterDerecha {
    flex-wrap: wrap;
    justify-content: right;
}

.FooterDerecha a{
    text-decoration: none;

    color: black;
}

.FooterIzquierda span{
    justify-content: left;
    font-style: italic;
}

/* -----------------------------Footer----------------------------- */

/* -----------------------------Media Query----------------------------- */


@media screen and (max-width: 480px)    /*----------320------------*/
{ 
    header{
        height: 80px;
    } 

    .Contenedores
    {
    margin-top: 80px;
    margin-bottom: 50px;
     
}
    
    #LogoPrincipal
    {
        width: 31.25px;
        height: 31.25px;
    }

    .TituloLogo h1{
        font-size: 20px;
    }
    
    .TituloLogo h4{
        
        font-size: 11.25px;
        padding-bottom: 2px;
    } 

    footer{
        font-size: 12px;
        font-style: normal;
        height: 40px;
        padding: 10px 2px;
    }
}                                       /*----------320------------*/

@media screen and (min-width: 768px)    /*----------768------------*/
{ 
    #LogoPrincipal
    {
        width: 60px;
        height: 60px;
    }
}                                       /*----------768------------*/


@media screen and (min-width: 1024px)   /*----------1024------------*/
{
    

    .Contenedores
    {
        margin: 124px 0 0 0;
        padding-bottom: 60px;
    }

    #LogoPrincipal
    {
        width: 72px;
        height: 72px;
    }

    .TituloLogo{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .TituloLogo h1{
        font-size: 48px;
    }
    
    .TituloLogo h4{
        font-size: 24px;
    }
    
    header{
        height: 124px;
    }

    .menu{
        position:relative;
        left: 0;
        display: flex;
        width: 98%;
        height: 50px;
        transform: none;
        justify-content: center;
    }

    #checkmenu {
        visibility: hidden;
    }

    .MenuPpal{
        position: relative;
        transition: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }

    #checkmenu:checked ~ .MenuPpal{
        transform: translateX(0%);
    }

    #checkmenu:not(:checked) ~ .MenuPpal
    {
        transform: translateX(0%);
    }

    .iconocruz, .iconohamburguesa{
        visibility: hidden;
        display: none;
    }

    .ul_menu{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    .li_menu{
        width: 160px; 
        margin: 1px 1px;
        list-style: none;
        border:none;
        cursor: pointer;
        
    }

    .li_menu a{
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0px 0px 5px goldenrod;
        color: white;
        text-decoration: none;
        text-align: center;
        border: 1px solid goldenrod;
        border-radius: 5px;
        padding: 8px 0px ;
        background-color: rgb(148, 112, 23);
        box-shadow: 0 3px 5px gray;
    }
    
    .li_menu:hover{        
        font-weight: normal;
        font-size: 16px;
    }

    .li_menu a:hover{  
        font-style: normal;
        font-weight: bold;
        background-color: black;
    }

    h2{
        animation: cambiarColor 2s linear;
    }
}                                              /*----------1024------------*/     

/* -----------------------------Media Query----------------------------- */