*
{
    box-sizing: border-box;    
}

@keyframes aparecer{
    10% {opacity: 0};
    50% {opacity: 25%};
    75% {opacity: 50%};
    100% {opacity: 100%;}
}

#destacadas{
    /* margin-top: px; */
    display: grid;
    grid-template-areas: "titulo" "tarjeta1" "tarjeta2";
}


#tarjeta1{
    grid-area: tarjeta1;
}

#tarjeta2{
    grid-area: tarjeta2;
}


.tarjeta{
    display: grid;
    grid-template-areas: "foto" "caracteristicas";
    grid-template-rows: 70% auto;
    width: 90%;
    max-width: 500px;
    height: 300px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.453);
    animation-duration: 2s;
    animation-name: aparecer;
}

h3{
    text-align: center;
    margin-bottom: 10px;
}

.imagentarjeta{
    grid-area: foto;
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
    background: black;
}

.imagentarjeta img{
    opacity: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 0;
    position:static;
}

.caracteristicas{
    grid-area: caracteristicas;
    display: grid;
    grid-template-areas: "direccion" "operacion" "importe" "ambientes";
    align-content: space-evenly;
    font-size: 12px;
    margin: 0 5px;
}

.operacion{
    grid-area: operacion;
}

.direccion{
    grid-area: direccion;
    font-weight: bold;
}

.importe{
    grid-area: importe;
}

.ambientes{
    grid-area: ambientes;
}

#interes{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.articulo{    
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 8px;
}

.articulo div img{
    opacity: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 0;
    position:static;
}

.articulo p, .articulo div,.articulo h5{
    padding: 5px;
}
.articulo p{
    font-size: 12px;
}

@media screen and (min-width: 1024px) {
    #destacadas{
        grid-template-areas: "titulo titulo" "tarjeta1 tarjeta2";
        margin-left:auto;
        margin-right:auto;
        grid-template-columns: 50% auto;

    }


    .tarjeta{
        max-width: 85%;
    }

    #tarjeta1{
        grid-area: tarjeta1;
    }

    #tarjeta2{
        grid-area: tarjeta2;
    }

    section h3{
        grid-area: titulo;
        margin-bottom: 20px;
    }
        
}
