
*{
    box-sizing: border-box;
}

.vistainmueble{
    display: grid;
    grid-template-areas: "direccion" "descripcion" "slider" "volver";
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
}

.vistainmueble h3{
    grid-area: direccion;
    margin-bottom: 10px;
}

.vistainmueble .descripcion{
    grid-area: descripcion;
    margin-bottom: 10px;
	text-align: justify;
}

.vistainmueble .volver{
	font-size: 15px;
}

.contenedorSlider{
    grid-area: slider;
	display: grid;
	grid-template-areas: "pantalla" "nav";
	grid-template-rows: calc((600*(100vw*0.9)/800)) calc((600*(100vw*0.15)/800));
	margin: 0 auto;
	position: relative;
	width: 100%;
	padding-bottom: 20px;
}

.contenedorSlider #pantalla{
	grid-area: pantalla;
	width: 100%;
	height: calc((600*(100vw*0.15)/800));
	height:fit-content;
}

.contenedorSlider #pantalla .slide_img{
	position: absolute;
	width: 100%;
	height: calc((600*(100vw*0.9)/800));
}

.contenedorSlider #pantalla .slide_img img{
	width: 100%;
	height: 100%;
    opacity: 1;
    position: relative;
}

.selector{
    display: none;
}

.ant, .sig{
	width: 12%;
	height: 100%;
	position: absolute;
	top:0; 
	background-color: rgba(88, 88, 88,.2);
    color:rgba(244, 244, 244,.9);
	z-index: 99;
	transition: .45s;
	cursor: pointer;
	text-align: center;
}

.sig{
    right:0;
}
.ant{
    left:0;
}

label span{
	position: absolute;
	font-size: 12px;
	top: 50%;
    left: 35%;
 	transform: translateY(-50%);
}

.ant:hover, .sig:hover{
	transition: .3s;
	background-color: rgba(88, 88, 89,.8);
	color: #ffffff; 
}

.contenedorSlider #nav_slide{
	grid-area: nav;
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	z-index: 90;
	cursor: default;
}



#nav_slide .selector2{
	width: calc(100%/6);
	height: 100%;
	position: relative;
	display: inline-block;
    border: solid 1px #ffffff;
	transition: .4s;
}

#nav_slide .selector2 img{
	opacity: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit:fill;
}

#nav_slide .selector2:hover {
	cursor: pointer;
	transition: .25s
}

.slide_img{
	z-index: -1;
}

#irImagen1:checked ~ #imagen1,
#irImagen2:checked ~ #imagen2,
#irImagen3:checked ~ #imagen3,
#irImagen4:checked ~ #imagen4,
#irImagen5:checked ~ #imagen5,
#irImagen6:checked ~ #imagen6 
{
	z-index: 9; 
}

@media  screen and (min-width: 768px) {
	label span{
		font-size: 24px;
	}	
}

@media  screen and (min-width: 1024px) {
	label span{
		font-size: 36px;
	}	

	.vistainmueble{
		grid-template-areas: "slider direccion" "slider descripcion" "slider volver";
		grid-template-columns: 60% 38.5%;
		grid-template-rows: 70px 360px auto;
		gap: 15px;
		width: 1010px;
		height: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	
	.contenedorSlider{
		grid-template-rows: 420px 80px;
	}

	.contenedorSlider #pantalla .slider_img{
		height: 420px;
	}

	.contenedorSlider #pantalla .slide_img img{
		height: 420px;
	}

	label span{
		font-size: 24px;
		top: 210px;
	}

	.vistainmueble h3{
		font-size: 24px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.vistainmueble .descripcion{
		font-size: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.vistainmueble .volver{
		font-size: 24px;
	}
}