html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    font-size: 16px;
}
/* -----Principio estilos de la cabecera de todas las paginas----- */

.cabecera{ 
    font-family: 'Dancing Script', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    border-bottom: 0.1rem solid black;
    text-shadow: black 0.1rem 0.1rem;
    height: 5rem;
    padding-bottom: 1rem;
}

.nombrecompania{
    color: goldenrod;
    font-size: 3rem;
    text-decoration: none;
    font-weight: bold;
    padding-left: 1rem;
    width: 90%;
    align-self: center;
}

.logo_cabecera{
    height: 5rem;
}

#logo_link{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(5px 5px 1px #444);

}

/* ------Fin estilos de la cabecera de todas las paginas------ */

body{
    background-color:antiquewhite;
    background-image: url(../img/BackGroundDif2.jpg);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: 100%; 
    background-attachment: fixed;
    color: darkgoldenrod;
}

.TituloPagina{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: 0;
    text-shadow: rgba(54, 52, 52, 0.11) 0.1rem 0.1rem;
    border-bottom: 0.1rem solid darkgoldenrod;
}

.contenedor_sec{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 20fr 1fr;
    grid-template-areas: "sel_pag titulo_pag" "sel_pag contenido";
    align-items: stretch;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cabecera_pag{
    grid-area: titulo_pag;
}

#barramenu{
    position:absolute;
}

.menu{
    grid-area: sel_pag;
}

.contenido{
    grid-area: contenido;
}

.fondotransparente{
    grid-area: contenido;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 45%;
    z-index: -1;
    border-radius: 50px;
}

.contenido_quienessomos{
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 0 2rem;  
    color: black;
    text-align: justify;
    margin-bottom: 1rem;
    padding-bottom: 50px;
}

.tit_quienessomos{
    font-size: 125%;
    padding: 0.5rem;
    justify-self: center;
}

.contenido_quienessomos #img_frente_inm{
    border-style: double;
    border-width: 1rem;
    object-position: 50%;
    
}

/* ------Inicio estilos del menu de todas las paginas------ */

.ul_menu{
    display: table-footer-group;
    text-align: center;
    border-right: 0.1rem solid black;
    border-left: 0.1rem solid black;
}

.li_menu{
    font-size: 1rem;
    list-style: none;
    background-color: rgb(143, 104, 6);
    padding: 0.5rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem gray;
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem; 
    color: antiquewhite;
    margin: 1rem 1rem 1rem 1rem;
    cursor: pointer;
}

.li_menu:hover{
    background-color: rgb(80, 59, 5);
    transform: scale(1.1,1.1);
}

.li_menu a{
    text-decoration: none;
    color: antiquewhite;
    font-style: italic;
}

/* ------Fin estilos del menu de todas las paginas------ */

.contenido_form{
    grid-area: contenido;
    display: grid;
    color: black;
    text-align: justify;
    margin-bottom: 1rem;
    padding-bottom: 50px;
}

footer{
    border-top: 0.1rem solid black;
    text-align:center;
    align-items: flex-end; 
    background-color : darkgoldenrod;
    color: black;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
        
}

h3{
    font-size: 1rem;
}

footer h3 a{
    text-decoration: none;
    color: black;
}

#logo1{
    /* background-color: white; */
    filter: drop-shadow(5px 5px 1px #444);
}